.heart {
    background: url(../images/web_heart_animation.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 25%;
    width: 20%;
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-size:2900%;
    z-index: 1001;
    opacity: 0.5;
}
.heart:hover, .heart:focus{
    background-position: right;
    opacity: 1;
}

@-webkit-keyframes heartBlast {
0% {
    background-position: left;
}
100% {
    background-position: right;
}
}

@keyframes heartBlast {
    0% {
    background-position: left;
}
100% {
    background-position: right;
}
}

.heartAnimation {
    display: inline-block;
    -webkit-animation-name: heartBlast;
    animation-name: heartBlast;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(28);
    animation-timing-function: steps(28);
    background-position: right;
    opacity: 1;
}